<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="es.axios.udig.spatialoperations.ui" name="Axios Spatial Operations Ex. Point" schema="schema/es.axios.udig.spatialoperations.ui.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="es.axios.udig.spatialoperations.internal.preferences.PreferencesInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="es.axios.udig.spatialoperations.ui.view.SOView"
            icon="icons/etool16/spatial-operation.gif"
            id="es.axios.udig.spatialoperations.ui.view.SOView"
            name="%plugin.view_name"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="net.refractions.udig.ui.mapPerspective">
         <view
               id="es.axios.udig.spatialoperations.ui.view.SOView"
               relationship="stack"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            category="es.axios.udig.extension"
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="net.refractions.udig.ui.operation">
      <operation
            categoryId="net.refractions.udig.project.ui.operation.layerCategory"
            class="es.axios.udig.spatialoperations.ui.op.SOViewLauncher"
            icon="icons/etool16/spatial-operation.gif"
            id="es.axios.udig.ui.spatialoperations.op.SOViewLauncher"
            menuPath="layer/additions"
            name="%plugin.view_name"
            targetClass="net.refractions.udig.project.ILayer">
      </operation>
   </extension>

</plugin>
