<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="net.refractions.udig.wps.WPSServiceExtension"
            id="net.refractions.udig.wps.service"
            name="Web Processing Service">
      </service>
   </extension>
 <extension
       point="net.refractions.udig.catalog.ui.connectionFactory">
    <factory class="net.refractions.udig.wps.internal.ui.WPSConnectionFactory"
          id="net.refractions.udig.catalog.ui.WPS"/>
    <wizardPage
          banner="icons/wizban/wps_wiz.gif"
          class="net.refractions.udig.wps.internal.ui.ImportWizardPage0"
          description="%wizard.description"
          icon="icons/etool16/wps_wiz.gif"
          name="%wizard.name">
    </wizardPage>

 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          class="net.refractions.udig.wps.internal.ui.ProcessView"
          id="net.refractions.udig.wps.internal.ui.ProcessView"
          name="%process.label">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.importWizards">
    <wizard
          class="net.refractions.udig.wps.internal.ui.WPSImportWizard"
          id="net.refractions.udig.wps.importwizard"
          icon="icons/etool16/wps_wiz.gif"
          name="Web Processing Service (WPS)">
    </wizard>
 </extension>
 <extension
       id="net.refractions.udig.wps.execute_op"
       name="executeOp"
       point="net.refractions.udig.ui.operation">
    <operation
          class="net.refractions.udig.wps.ExecuteViewOp"
          id="net.refractions.udig.wps.execute_op"
          name="Execute..."
          targetClass="net.refractions.udig.catalog.IProcess">
       <enablement></enablement>
    </operation>
 </extension>
 <extension
       point="net.refractions.udig.ui.dropAction">
    <action
          class="net.refractions.udig.wps.internal.ui.WPSDropAction"
          name="net.refractions.udig.wps.internal.ui.WPSDropAction">
    </action>
 </extension>
 <extension
       id="wpsapp"
       point="org.eclipse.core.runtime.products">
    <product
          application="net.refractions.udig.ui.application"
          name="WPS">
       <property
             name="windowImages"
             value="icons/icon16.gif,icons/icon32.gif,icons/icon64.gif,icons/icon128.gif">
       </property>
       <property
             name="aboutText"
             value="Web Process Service (WPS) Client&#x0A;&#x0A;This is a plugin that adds support for WPS in the catalog view and provides a new view for executing processes.&#x0A;For more information visit http://udig.refractions.net/confluence/display/EN/WPS">
       </property>
       <property
             name="aboutImage"
             value="icons/about.gif">
       </property>
       <property
             name="startupForegroundColor"
             value="FFFFFF">
       </property>
       <property
             name="startupProgressRect"
             value="0,196,500,8">
       </property>
       <property
             name="startupMessageRect"
             value="7,180,445,16">
       </property>
       <property
             name="appName"
             value="WPS">
       </property>
       <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
       </property>
    </product>
 </extension>
 <extension
       id="wpsapp"
       point="org.eclipse.core.runtime.products">
    <product
          application="net.refractions.udig.ui.application"
          name="WPS">
       <property
             name="windowImages"
             value="icons/icon16.gif,icons/icon32.gif,icons/icon64.gif,icons/icon128.gif">
       </property>
       <property
             name="aboutText"
             value="Web Process Service (WPS) Client&#x0A;&#x0A;This is a plugin that adds support for WPS in the catalog view and provides a new view for executing processes.&#x0A;For more information visit http://udig.refractions.net/confluence/display/EN/WPS">
       </property>
       <property
             name="aboutImage"
             value="icons/about.gif">
       </property>
       <property
             name="startupForegroundColor"
             value="FFFFFF">
       </property>
       <property
             name="startupProgressRect"
             value="0,196,500,8">
       </property>
       <property
             name="startupMessageRect"
             value="7,180,445,16">
       </property>
       <property
             name="preferenceCustomization"
             value="">
       </property>
    </product>
 </extension>
 <extension
       id="wpsapp"
       point="org.eclipse.core.runtime.products">
    <product
          application="net.refractions.udig.ui.application"
          name="WPS">
       <property
             name="windowImages"
             value="icons/icon16.gif,icons/icon32.gif,icons/icon64.gif,icons/icon128.gif">
       </property>
       <property
             name="aboutText"
             value="Web Process Service (WPS) Client&#x0A;&#x0A;This is a plugin that adds support for WPS in the catalog view and provides a new view for executing processes.&#x0A;For more information visit http://udig.refractions.net/confluence/display/EN/WPS">
       </property>
       <property
             name="aboutImage"
             value="icons/about.gif">
       </property>
       <property
             name="startupForegroundColor"
             value="FFFFFF">
       </property>
       <property
             name="startupProgressRect"
             value="0,196,500,8">
       </property>
       <property
             name="startupMessageRect"
             value="7,180,445,16">
       </property>
       <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
       </property>
    </product>
 </extension>
</plugin>
