<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.refractions.udig.project.ui.tool">
      <modalTool
            categoryId="net.refractions.udig.tool.edit.feature"
            class="es.axios.udig.ui.editingtools.trim.TrimTool"
            icon="icons/etool16/trim_feature_mode.gif"
            id="es.axios.udig.ui.editingtools.trim.TrimTool"
            name="%plugin.name_trim"
            onToolbar="true"
            toolCursorId="arrowCursor"
            tooltip="%plugin.tooltip_trim">
         <cursor
               hotspotX="10"
               hotspotY="10"
               image="icons/pointers/edit_source.gif"/>
         <enablement>
            <and>
               <property
                     propertyId="net.refractions.udig.project.FeatureStoreResourceProperty" expectedValue=""/>
               <or>
                  <property
                        expectedValue="com.vividsolutions.jts.geom.LineString"
                        propertyId="net.refractions.udig.project.ui.GeometryType"/>
                  <property
                        expectedValue="com.vividsolutions.jts.geom.MultiLineString"
                        propertyId="net.refractions.udig.project.ui.GeometryType"/>
               </or>
            </and>
         </enablement>
      </modalTool>
      <modalTool
            categoryId="net.refractions.udig.tool.edit.feature"
            class="es.axios.udig.ui.editingtools.split.SplitTool"
            icon="icons/etool16/split_feature_mode.gif"
            id="es.axios.udig.ui.editingtools.split.SplitTool"
            name="%plugin.name_split"
            onToolbar="true"
            toolCursorId="arrowCursor"
            tooltip="%plugin.tooltip_split">
         <cursor
               hotspotX="10"
               hotspotY="10"
               image="icons/pointers/merge_cursor.gif"/>
         <enablement>
            <and>
               <property
                     propertyId="net.refractions.udig.project.FeatureStoreResourceProperty" expectedValue=""/>
               <or>
                  <property
                        expectedValue="com.vividsolutions.jts.geom.MultiLineString"
                        propertyId="net.refractions.udig.project.ui.GeometryType">
                  </property>
                  <property
                        expectedValue="com.vividsolutions.jts.geom.LineString"
                        propertyId="net.refractions.udig.project.ui.GeometryType">
                  </property>
                  <property
                        expectedValue="com.vividsolutions.jts.geom.MultiPolygon"
                        propertyId="net.refractions.udig.project.ui.GeometryType">
                  </property>
                  <property
                        expectedValue="com.vividsolutions.jts.geom.Polygon"
                        propertyId="net.refractions.udig.project.ui.GeometryType">
                  </property>
                  <property
                        expectedValue="com.vividsolutions.jts.geom.Geometry"
                        propertyId="net.refractions.udig.project.ui.GeometryType">
                  </property>
               </or>
            </and>
         </enablement>
      </modalTool>
      <modalTool
            categoryId="net.refractions.udig.tool.edit.feature"
            class="es.axios.udig.ui.editingtools.merge.MergeTool"
            icon="icons/etool16/merge_feature_mode.gif"
            id="es.axios.udig.ui.editingtools.merge.MergeTool"
            name="%plugin.name_merge"
            onToolbar="true"
            toolCursorId="arrowCursor"
            tooltip="%plugin.tooltip_merge">
         <cursor
               hotspotX="10"
               hotspotY="10"
               image="icons/pointers/merge_cursor.gif"/>
         <enablement>
            <property
                  propertyId="net.refractions.udig.project.FeatureStoreResourceProperty" expectedValue=""/>
         </enablement>
      </modalTool>
      <modalTool
            categoryId="net.refractions.udig.tool.edit.create"
            class="es.axios.udig.ui.editingtools.precisionparallels.PrecisionParallelTool"
            icon="icons/etool16/parallel_mode.gif"
            id="es.axios.udig.ui.editingtools.precisionparallels.PrecisionParallelTool"
            name="%plugin.name_precisionparallel"
            onToolbar="true"
            toolCursorId="arrowCursor"
            tooltip="%plugin.tooltip_precisionparallel">
         <cursor
               hotspotX="10"
               hotspotY="10"
               image="icons/pointers/merge_cursor.gif"/>
         <enablement>
            <and>
               <property
                     propertyId="net.refractions.udig.project.FeatureStoreResourceProperty" expectedValue=""/>
               <or>
                  <property
                        expectedValue="com.vividsolutions.jts.geom.LineString"
                        propertyId="net.refractions.udig.project.ui.GeometryType">
                  </property>
                  <property
                        expectedValue="com.vividsolutions.jts.geom.MultiLineString"
                        propertyId="net.refractions.udig.project.ui.GeometryType">
                  </property>
               </or>
            </and>
         </enablement>
      </modalTool>
      <modalTool
            categoryId="net.refractions.udig.tool.edit.create"
            class="es.axios.udig.ui.editingtools.arc.ArcTool"
            icon="icons/etool16/arc_tool.gif"
            id="es.axios.udig.ui.editingtools.arc.ArcTool"
            name="%plugin.name_arc"
            onToolbar="true"
            toolCursorId="arrowCursor"
            tooltip="%plugin.tooltip_arc">
         <cursor
               hotspotX="10"
               hotspotY="10"
               image="icons/pointers/edit_source.gif"/>
         <enablement>
            <and>
               <property
                     propertyId="net.refractions.udig.project.FeatureStoreResourceProperty" expectedValue=""/>
               <or>
                  <property
                        expectedValue="com.vividsolutions.jts.geom.LineString"
                        propertyId="net.refractions.udig.project.ui.GeometryType"/>
                  <property
                        expectedValue="com.vividsolutions.jts.geom.MultiLineString"
                        propertyId="net.refractions.udig.project.ui.GeometryType"/>
               </or>
            </and>
         </enablement>
      </modalTool>
   </extension>
      <extension
         name="Plugin contributed behaviours for edit tools"
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.refractions.udig.tool.edit.behaviour"
            label="Extra edit tool behaviours"
            visible="true">
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            category="es.axios.udig.extension"
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="es.axios.udig.ui.editingtools.precisionparallels.view.ParallelParametersView"
            icon="icons/etool16/parallel_mode.gif"
            id="es.axios.udig.ui.editingtools.precisionparallels.view.ParallelParametersView"
            name="%plugin.precisionparallel">
      </view>
            <view
                  allowMultiple="false"
                  class="es.axios.udig.ui.editingtools.merge.view.MergeView"
                  icon="icons/etool16/merge_feature_mode.gif"
                  id="es.axios.udig.ui.editingtools.merge.ui.MergeView"
                  name="%plugin.name_merge">
            </view>
   </extension>

</plugin>
